body {
  display: grid;
  background-color: #000000;
  justify-items: center;
  align-items: center;
  place-items: center;
}
.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  box-shadow: 0 0 0 2px rgb(255, 255, 255);
  margin: 0 auto;
}
#messageDisplay {
  color: aliceblue;
  font-size: 100px;
}
.box {
  display: grid;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border: solid 1px rgb(255, 255, 255);
  color: white;
  font-size: 275px;
}
.resetBtn {
  font-size: 100px;
}
.resetBtn:hover {
  font-size: 100px;
  cursor: pointer;
}
